/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.vscode
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer-setup.php
.DS_Store
/vendor
/node_modules

.env
.env.*

/storage/*
!/storage/app/public
!/storage/framework/.gitignore
!/storage/logs/.gitignore

/public/storage

.phpunit.result.cache
npm-debug.log*
yarn-error.log*

test.txt
