
    .c-password-show-2 {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }


    .c-password-show-1 {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
    
    .information-tag {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
    
    .seller-register-part {
        margin-bottom: 130px;
    }
    
    .seller-register-part-2 {
        margin-bottom: 17px ;
    }
    
    .seller-register-part-3 {
        margin-bottom: 105px;
    }
    
    .forget-password {
        margin-bottom: 90px;
    }
    
    .reset-password {
        margin-bottom: 90px;
    }
    
   .info-img {
    height: 16px;
    width: fit-content;
   }